@model CasBlog.ViewModels.Blog

@{ 
    ViewData["Title"] = "Blog";
}

<div>
    <h4>Blog</h4>
    <hr />
    @foreach(var article in Model.Articles)
    {
        <dl class="row">
            <dt class="col-sm-2">
                <a asp-action="Details" asp-route-id="@article.Id">
                    @Html.DisplayFor(model => article.Title)
                </a>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => article.Content)<br />
                Written by: @Html.DisplayFor(author => article.Author.Name)
            </dd>
        </dl>
    }
</div>